[DEFAULT]

user=string()
password=string()
host=string()
port=integer()
database=string()
socket=string()
default-character-set=string()

ssl-ca=string()
ssl-cert=string()
ssl-key=string()
ssl-cipher=string()
ssl-verify-server-cert=string()

prompt=string()

local-infile=string()
loose-local-infile=string()

pager=string()
skip-pager=boolean()
