include LICENSE.txt *.md *.rst screenshots/*
include tasks.py .coveragerc tox.ini
recursive-include test *.cnf
recursive-include test *.feature
recursive-include test *.py
recursive-include test *.txt
