include LICENSE.txt *.md *.rst doc/screenshots/*
recursive-include mycli/resources/completions *
recursive-include mycli_test *.cnf
recursive-include mycli_test *.feature
recursive-include mycli_test *.py
recursive-include mycli_test *.txt
