mock
pytest!=3.3.0
pytest-cov==2.4.0
tox
twine==1.12.1
behave
pexpect
coverage==4.3.4
codecov==2.0.9
autopep8==1.3.3
git+https://github.com/hayd/pep8radius.git  # --error-status option not released
click==6.7
