mock
pytest
pytest-cov==2.4.0
tox
twine==1.8.1
behave
pexpect
coverage==4.3.4
codecov==2.0.9
git+https://github.com/hayd/pep8radius.git@c8aebd0e1d272160896124e104773b97a6249c3e#egg=pep8radius
click==6.7
