Source: mycli
Section: python
Priority: extra
Maintainer: Amjith Ramanujam <amjith.r@gmail.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.7), python-setuptools, python-dev
Standards-Version: 3.9.5

Package: mycli
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7-minimal | python2.6-minimal, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: CLI for MySQL Database. With auto-completion and syntax highlighting.
 CLI for MySQL Database. With auto-completion and syntax highlighting.
