name: CI

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'AUTHORS'
      - 'SPONSORS'
      - 'TIPS'

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: "latest"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Start MySQL
        run: |
          sudo /etc/init.d/mysql start

      - name: Install dependencies
        run: uv sync --all-extras -p ${{ matrix.python-version }}

      - name: Wait for MySQL connection
        run: |
          while ! mysqladmin ping --host=localhost --port=3306 --user=root --password=root --silent; do
            sleep 5
          done

      - name: Pytest / behave
        env:
          PYTEST_PASSWORD: root
          PYTEST_HOST: 127.0.0.1
          TERM: xterm
        run: |
          uv run tox -e py${{ matrix.python-version }}

  test-no-extras:
    name: Tests Without Extras
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: "latest"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'

      - name: Start MySQL
        run: |
          sudo /etc/init.d/mysql start

      - name: Install dependencies
        run: uv sync --extra dev -p python3.13

      - name: Wait for MySQL connection
        run: |
          while ! mysqladmin ping --host=localhost --port=3306 --user=root --password=root --silent; do
            sleep 5
          done

      - name: Pytest / behave
        env:
          PYTEST_PASSWORD: root
          PYTEST_HOST: 127.0.0.1
          TERM: xterm
        run: |
          uv run tox -e py3.13
