name: Lint

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'AUTHORS'

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        # remember to sync the ruff-check version number with pyproject.toml
      - name: Run ruff check
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          version: 0.11.5

        # remember to sync the ruff-check version number with pyproject.toml
      - name: Run ruff format
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          version: 0.11.5
          args: 'format --check'
