name: Lint

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.rst'
      - 'LICENSE.txt'
      - 'doc/**/*.txt'
      - '**/AUTHORS'
      - '**/SPONSORS'
      - '**/TIPS'

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run ruff check
        uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6 # v3.6.1

      - name: Run ruff format
        uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6 # v3.6.1
        with:
          args: 'format --check'
