name: Typecheck

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'AUTHORS'

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'

      - uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
        with:
          version: 'latest'

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run mypy
        run: |
          uv run --no-sync --frozen -- python -m ensurepip
          uv run --no-sync --frozen -- python -m mypy --no-pretty --install-types --non-interactive .
