name: Typecheck

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'AUTHORS'

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.13'

      - uses: astral-sh/setup-uv@d9e0f98d3fc6adb07d1e3d37f3043649ddad06a1 # v6.5.0
        with:
          version: 'latest'

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run mypy
        run: |
          uv run --no-sync --frozen -- python -m ensurepip
          uv run --no-sync --frozen -- python -m mypy --no-pretty --install-types --non-interactive .
