name: Typecheck

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'AUTHORS'
      - 'SPONSORS'
      - 'TIPS'

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: 'latest'

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run mypy
        run: |
          uv run --no-sync --frozen -- python -m ensurepip
          uv run --no-sync --frozen -- python -m mypy --no-pretty --install-types --non-interactive .
